* {
    box-sizing: border-box;
}

body {
    background-color: #72FFFF;
    padding: 0;
    margin: 0;
    font-size: 70px;
}

.mainHeading {
    color: black;
    font-style: italic;
    text-align: center;
    margin: 15px 0;
}

.contentHeading {
    font-size: large;
    color: black;
    font-style: italic;
    text-align: center;
    margin: 15px 0;
}

input {
    background-color: #D36B00;
    border: 0;
    width: 600px;
    height: 100px;
    font-size: 70px;
    color: white;
    text-align: center;
    padding: 15px;
    border-radius: 10px;
    outline: none;
}

input::placeholder {
    color: white;
}

.textCenter {
    text-align: center !important;
}

.back {
    background-color: #3CA523;
    height: 100px;
    width: 268px;
    font-size: 70px;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 15px;
    font-weight: bold;
    font-style: italic;
    display: block;
}

/* Chrome, Safari, Edge, Opera */
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
    appearance: none;
    margin: 0;
}

/* Firefox 
input[type=number] {
    -moz-appearance: textfield;
}*/

.submit{
    background-color: #3CA523;
    height: 100px;
    width: 268px;
    font-size: 70px;
    color: black;
    border: none;
    outline: none;
    border-radius: 10px;
    margin: 15px;
    font-weight: bold;
    font-style: italic;
    display: block;
    position: relative;
    margin-left: 40%;
}

.first {
width: 5%;
height:10%;
margin-left: 34%;
position: relative;
display: inline-block;
}

.second {
    width: 5%;
    height:10%;
    margin-left: 0%;
    position: relative;
    display: inline-block;
    }

.third {
    width: 5%;
    height:10%;
    margin-left: 0%;
    position: relative;
    display: inline-block;
}

.fourth {
    width: 5%;
    height:10%;
    margin-left: 0%;
    position: relative;
    display: inline-block;
}